<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Slevyr.WebAppHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SledovaniVyrobyWebAppHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Slevyr.WebAppHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SledovaniVyrobyWebAppHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
      <!--<add key="www.rootDir" value="WWW"/>-->
      <add key="www.rootDir" value="C:\devel\apam\slevyr\Slevyr.WebAppHost\WWW"/>
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Slevyr.WebAppHost.Properties.Settings>
      <setting name="JsonFilePath" serializeAs="String">
        <value>data</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>19200</value>
      </setting>
      <setting name="IsRefreshTimerOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="MockupMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RelaxTime" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="RefreshTimerPeriod" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="UnitAddrs" serializeAs="String">
        <!--<value>100</value>-->
        <value>100;171;172;173;174</value>
      </setting>
      <setting name="WorkerSleepPeriod" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SendCommandTimeOut" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ReadResultTimeOut" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="IsReadOkNgTime" serializeAs="String">
        <value>True</value>
      </setting>
    </Slevyr.WebAppHost.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Slevyr.WebAppHost.Properties.Settings>
      <setting name="WebAppPort" serializeAs="String">
        <value>5000</value>
      </setting>
    </Slevyr.WebAppHost.Properties.Settings>
  </applicationSettings>
</configuration>
