<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
   
    <!--<target name="app-file" xsi:type="File"
           layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${threadid}: ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
           fileName="logs/app.log"
           keepFileOpen="true"
           deleteOldFileOnStartup="false"
           Footer="*** *** *** Application has been terminated. *** *** ***" />-->
    
     <!-- app.log rolovat po dnech ? -->
     <target name="app-file" xsi:type="File"
           layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${threadid}: ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
           fileName="logs/app.log"
           archiveFileName="logs/app.{#}.log"
           archiveEvery="Day"
           archiveNumbering="DateAndSequence"
           MaxArchiveFiles="7"
           archiveDateFormat="yyyy-MM-dd"
           Footer="*** *** *** Application has been terminated. *** *** ***" />

    <target name="units-file" xsi:type="File"
           layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss};${message}"
           fileName="logs/units.log"
           archiveFileName="logs/units.{#}.log"
           archiveEvery="Day"
            
           archiveNumbering="DateAndSequence"
           MaxArchiveFiles="100"
           archiveDateFormat="yyyy-MM-dd"
           keepFileOpen="true"
           Footer="*** *** *** Application has been terminated. *** *** ***" />

    <target name="units2-file" xsi:type="File"
           layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss};${message}"
           fileName="logs/units2.csv"
           archiveFileName="logs/units2.{#}.csv"
           archiveEvery="Day"            
           archiveNumbering="DateAndSequence"
           MaxArchiveFiles="100"
           archiveDateFormat="yyyy-MM-dd"
           keepFileOpen="true"/>

    <target name="errors-file" xsi:type="File"
           layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss};${level:uppercase=true};${message}"
           fileName="logs/errors.log"
           deleteOldFileOnStartup="True"
           keepFileOpen="true"/>

    <target name="exceptions-file"
            xsi:type="File"
            layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
            fileName="logs/exceptions.log"
            archiveFileName="logs/exceptions.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            MaxArchiveFiles="7"
            archiveDateFormat="yyyy-MM-dd"
            Footer="*** *** *** Application has been terminated. *** *** ***"/>

    <target name="console" xsi:type="ColoredConsole"
           layout="${level:uppercase=true} - ${threadid}: ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
           Header="*** *** *** Application start. *** *** ***"
           Footer="*** *** *** Application has been terminated. *** *** ***">
      <!--<highlight-row backgroundColor="Red" condition="Condition" foregroundColor="Enum"/>-->
      <highlight-word foregroundColor="Green" text="InvokeCmd" wholeWords="True" />
      <highlight-word backgroundColor="Green" foregroundColor="Black" text="worker cycle" wholeWords="True" />
      
    </target>

  </targets>
  <rules>
       
    <logger name="Units" minlevel="Info" writeTo="units-file" />
    <logger name="Units2" minlevel="Info" writeTo="units2-file" />
    <logger name="Errors" minlevel="Info" writeTo="errors-file" />
    
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="app-file" />

  </rules>
</nlog>