<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--<target name="app-file" xsi:type="File"
            layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${threadid}: ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
            fileName="logs/app.log"
            archiveFileName="logs/app.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            MaxArchiveFiles="7"
            archiveDateFormat="yyyy-MM-dd"
            keepFileOpen="true"
            Footer="*** *** *** Application has been terminated. *** *** ***" />-->
    
    <target name="app-file" xsi:type="File"
           layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${threadid}: ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
           fileName="logs/app.log"
           keepFileOpen="true"
           deleteOldFileOnStartup="true"
           Footer="*** *** *** Application has been terminated. *** *** ***" />

    <target name="units-file" xsi:type="File"
           layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} : ${message}"
           fileName="logs/units.log"
           archiveFileName="logs/units.{#}.log"
           archiveEvery="Day"
           archiveNumbering="DateAndSequence"
           MaxArchiveFiles="7"
           archiveDateFormat="yyyy-MM-dd"
           keepFileOpen="true"
           Footer="*** *** *** Application has been terminated. *** *** ***" />
    
    <target name="exceptions-file"
            xsi:type="File"
            layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
            fileName="logs/exceptions.log"
            archiveFileName="logs/exceptions.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            MaxArchiveFiles="7"
            archiveDateFormat="yyyy-MM-dd"
            Footer="*** *** *** Application has been terminated. *** *** ***"/>

    <target name="console" xsi:type="Console"
           layout="${level:uppercase=true} - ${threadid}: ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
           Header="*** *** *** Application start. *** *** ***"
           Footer="*** *** *** Application has been terminated. *** *** ***" />

  </targets>
  <rules>
       
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="app-file" />
    <logger name="Units" minlevel="Info" writeTo="units-file" />

  </rules>
</nlog>