<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="app-file" xsi:type="File"
            layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
            fileName="logs/gis.log"
            archiveFileName="logs/gis.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            MaxArchiveFiles="7"
            archiveDateFormat="yyyy-MM-dd"
            keepFileOpen="true"
            Footer="*** *** *** Application has been terminated. *** *** ***" />
    
    <target name="unhandled-exceptions-file"
            xsi:type="File"
            layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
            fileName="logs/exceptions.log"
            archiveFileName="logs/exceptions.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            MaxArchiveFiles="7"
            archiveDateFormat="yyyy-MM-dd"
            Footer="*** *** *** Application has been terminated. *** *** ***"/>

    <target name="stdout" xsi:type="File"
           layout="${message}"
           lineEnding="None"
           fileName="logs/stdout.log"
           deleteOldFileOnStartup="True"
           Footer="*** *** *** Application has been terminated. *** *** ***" />

    <target name="stderr" xsi:type="File"
           layout="${message}"
           lineEnding="None"
           fileName="logs/stderr.log"
           deleteOldFileOnStartup="True"
           Footer="*** *** *** Application has been terminated. *** *** ***" />

    <target name="debug" xsi:type="File"
           layout="${message}"
           lineEnding="None"
           fileName="logs/debug.log"
           deleteOldFileOnStartup="True"
           Footer="*** *** *** Application has been terminated. *** *** ***" />
    
    <target name="mef-file" xsi:type="File"
              layout="${message} ${exception:format=tostring}"
              fileName="logs/mef-compose.log"
              deleteOldFileOnStartup="True" />
    
    <target name="mapservices" xsi:type="File"
            layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
            fileName="logs/mapservices.log"
            archiveFileName="logs/mapservices.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            MaxArchiveFiles="7"
            archiveDateFormat="yyyy-MM-dd"
            Footer="*** *** *** Application has been terminated. *** *** ***" />

    <target name="operator" xsi:type="File"
            layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} - ${message}"
            fileName="logs/operator.log"
            archiveFileName="logs/operator.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            MaxArchiveFiles="7"
            archiveDateFormat="yyyy-MM-dd"
            Footer="*** *** *** Application has been terminated. *** *** ***" />
    

    <target name="fileArchiveIntfcCalls" xsi:type="File"
          fileName="logs/public.log"
          deleteOldFileOnStartup="False"
          layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss.fff} [${threadid}] [${callsite:fileName=true:includeSourcePath=false}] ${message} ${exception:format=tostring}"
          archiveEvery="Day"
          archiveFileName="logs/public.{#}.log"
          archiveNumbering="DateAndSequence"
          MaxArchiveFiles="7"
          archiveDateFormat="yyyy-MM-dd"
          Footer="*** *** *** Application has been terminated. *** *** ***" />

  </targets>
  <rules>
    <!--<logger name="stdout" level="Debug" writeTo="stdout" final="true" />
    <logger name="stderr" level="Debug" writeTo="stderr" final="true" />
    <logger name="debug" level="Debug" writeTo="debug" final="true" />-->

    <logger name="MefLogger"                       minlevel="Debug" writeTo="mef-file" final="true"/>
    <logger name="ServicesLogger"                  minlevel="Debug" writeTo="mapservices" final="true"/>
    <logger name="InterfaceCallsLogger"            minlevel="Info" writeTo="fileArchiveIntfcCalls" />
    <logger name="UnhandledExceptionsLogger"       minlevel="Error" writeTo="unhandled-exceptions-file"/>
    
    <logger name="OperatorLogger"                  minlevel="Info" writeTo="operator"/>

    <logger name="TMAPY.GisCore.*"                  minlevel="Debug" writeTo="app-file" final="true"/>
    <logger name="TMAPY.AgrMapPlugin.*"             minlevel="Info" writeTo="app-file" final="true"/>
    <logger name="TMAPY.LayersManagerPlugin.*"      minlevel="Debug" writeTo="app-file" final="true"/>
    <logger name="TMAPY.AdminLayersManagerPlugin.*" minlevel="Info" writeTo="app-file" final="true"/>
    <logger name="TMAPY.OrGISPlugin.*"              minlevel="Debug" writeTo="app-file" final="true"/>

    <logger name="TMAPY.AgsEditPlugin.*"            minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.DirectionInfoPlugin.*"      minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.AdminDirectionInfoPlugin.*" minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.GPPlugin.*"                 minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.AdminGPPlugin.*"            minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.JsdiPlugin.*"               minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.InfoLayerPlugin.*"          minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.AdminInfoLayerPlugin.*"     minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.MapBookmarksPlugin.*"       minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.NoteMapPlugin.*"            minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.NotificationsPlugin.*"      minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.OSOSPlugin.*"               minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.RoutingPlugin.*"            minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.SpatialInfoPlugin.*"        minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.AdminSpatialInfoPlugin.*"   minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.StatisticPlugin.*"          minlevel="Error" writeTo="app-file" final="true"/>
    <logger name="TMAPY.AdminStatisticPlugin.*"     minlevel="Error" writeTo="app-file" final="true"/>
    

    <logger name="*" minlevel="Info" writeTo="app-file" />

  </rules>
</nlog>